<ul class="posts">
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">
      <a href="/index.html" style="text-decoration: none">HOME</a>
    </h1>
    <h1 id="posts-label" style="margin-left: 20px">
      <a href="/moods.html" style="text-decoration: none">MOODS</a>
    </h1>
    <h1 id="posts-label" style="margin-left: 20px">
      <a href="/about.html" style="text-decoration: none">ABOUT</a>
    </h1>
    {% if site.plainwhite.search %}
    <div class="search-container">
      <div class="search-section">
        <i class="icon-search"></i>
        <input
          type="text"
          name="search"
          id="searchbar"
          autocomplete="off"
          aria-label="search in posts"
        />
      </div>
      <div
        class="search-results"
        id="search-results"
        data-placeholder="No Results"
        style="display: none"
      ></div>
    </div>
    {% endif %}
  </li>
</ul>
